<!DOCTYPE HTML>
 <HTML> 
<HEAD> 
<STYLE>

ul {
margin: 3px;
padding: 0;
list-style: none;
 }

ul li a {
text-decoration: none;
color: Black;
border-bottom: 0;
}


li:hover
{
color: #3399FF;
}
</STYLE>

</HEAD> 

<BODY BACKGROUND="static/images/Stars.jpg">
<UL>
 <CENTER>
 <LI><FONT  FACE="GEORGIA"><A href="cat" target ="TextFrame">Category</A></FONT></LI><BR><BR><BR><BR>
 <LI><FONT FACE="GEORGIA"><A href="customer" target ="TextFrame">Customer</A></FONT></LI><BR><BR><BR><BR>
 <LI><FONT FACE="GEORGIA"><A href="adminorder" target ="TextFrame">Orders</A></FONT></LI><BR><BR><BR><BR>
 <LI><FONT  FACE="GEORGIA"><A href="pro" target ="TextFrame">Products</A></FONT></LI><BR><BR><BR><BR>

 </CENTER>
</UL> 
</BODY>
</HTML>